.profile-page {
  background-color:teal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.profile-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.profile-container:hover {
  background-color: #f0f0f0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}


.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 0%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-picture:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.profile-info h2 {
  color: #00796b;
  transition: color 0.3s ease;
}

.profile-info h2:hover {
  color: #004d40;
}


.btn-custom {
  background-color: #00796b;
  color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  padding: 15px;
  animation: bounceIn 1s ease-out;
}

.btn-custom:hover {
  background-color: #004d40;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.btn-custom:focus {
  outline: none;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.3);
    opacity: 0;
  }
  50% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
